// Les commentaires
// "/* */" Présent à la sortie du CSS, "//" Pas compile (pas présent dans le CSS de sortie)

/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import "./reset.scss"; //Reset CSS
@import "./variables.scss"; //Variables
@import "./modal.scss"; //Modal
@import "./animations.scss"; //Animations

@import url('https://fonts.googleapis.com/css?family=DM+Sans');


/*--------------------------------------------------------------
# Legacy css
--------------------------------------------------------------*/
%bold_text {
    font-weight: 900;
    font-size: 1.4rem;
}

html {
    height: 100%; 
    scroll-behavior: smooth;
}
body {
    height: 100%; 
    user-select: none;          /* Likely future */    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    font-family: $font-family;
    margin: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1920px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2rem 6rem;
    align-items: center;

    &__main {
        display: flex;
        flex-flow: row wrap;
        padding-top: 3rem;
        margin-left: -30px;
        margin-right: -30px;
    }
}


ul {
  padding: 0;
  list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
input:focus, button:focus{
    outline: none;
}


@media screen and (min-width: 320px) and (max-width:992px){
    .header {
        display: flex;
        flex-wrap: wrap;
        order: 1;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding-top: 2rem;

        a {
            display: block;
            width: 130px;
        }

        nav {
            order: 3;
            margin: 10px 20px;
        }

        &__logo {
            object-fit: contain;
        }

        &__title {
            font-size: 14px;
        }

        &__navigation__list {
            button {
                padding: 0.2rem 0.8rem;
                margin-top: 0.5rem;
                flex-wrap: wrap;
            }
        }

    }

    .container__main {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .photographer {
        flex: 0 0 100%;
        max-width: 100%;


        &__tag span {
            padding: 0.15rem;
            flex-wrap: wrap;
        }


        &__img__link {
            h2 {
                font-size: 30px;
            }
        }
    }

    .cta__main {
        left: 23%;
    }



}

@media screen and (min-width: 450px) and (max-width:992px){
}

@media screen and (min-width: 992px){
}

@media screen and (min-width: 1290px){}